<!--

=========================================================
* Cloudbees Feature Management Dashboard

=========================================================

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

-->

<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    New Bee Dashboard Django - {% block title %} Admin Panel {% endblock %} | CBCI Demo 
</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@cloudbees/honeyui@2.4.0/dist/index.min.css">

<!-- JS libs -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

<!-- Favicon -->
<link href="https://cdn.cloudbees.com/honeyui/logos/cloudbees-infinity-color.svg" rel="icon" type="image/svg">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Sweet Alert -->
<link type="text/css" href="/static/assets/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="/static/assets/vendor/notyf/notyf.min.css" rel="stylesheet">

<!-- CSS -->

<!--link type="text/css" href="/static/assets/css/honey.css" rel="stylesheet"-->

</head>
<body>

    {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %}

</body>
</html>
